<form class=" grid grid-cols-6 gap-x-6" [formGroup]="taskerDetailForm">

  <div class="col-span-6 mt-4">
    <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
    <input class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" id="address"
           type="text" name="address" ngx-gp-autocomplete #placesRef="ngx-places" formControlName="address"
           (change)="handleAddressChange()" (onAddressChange)="handleAddressChange($event)" [options]='options'/>
    <tasklion-error-field [control]="taskerDetailForm.controls['googleMapPlaceId']"
                          [errorMessages]="validationMessages['googleMapPlaceId']"></tasklion-error-field>
  </div>

</form>
