<ng-container *ngIf="!isFetchingData else loadingTemplate">
  <ng-container *ngIf="taskerServiceAreas.length > 0; else emptyStateTemplate">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            City
          </th>
          <th scope="col" class="px-6 py-3">
            State
          </th>
          <th scope="col" class="px-6 py-3">
            Postcode
          </th>
          <th scope="col" class="px-6 py-3">
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let serviceArea of taskerServiceAreas">
          <ng-container *ngIf="serviceArea.id" >
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4">
                {{ serviceArea.state }}
              </td>
              <td class="px-6 py-4">
                {{  serviceArea.city }}
              </td>
              <td class="px-6 py-4">
                {{ serviceArea.postcode }}
              </td>
              <td class="px-6 py-4">
                <div class="flex items center">
                  <a class="me-3 inline-block font-medium text-blue-600 hover:underline"
                     [routerLink]="[serviceArea.id.toString(), RouteConstant.EDIT]">
                    Edit
                  </a>
                  <button (click)="deleteServiceArea(serviceArea.id)" type="button"
                          class="cursor-pointer inline-block font-medium text-red-600 hover:underline">
                    Delete
                  </button>
                </div>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>
  <tasklion-paginator [paginationModel]="taskerServicesPagination"
                      (pageChange)="onPageChange($event)"></tasklion-paginator>
</ng-container>

<ng-template #emptyStateTemplate>
  <tasklion-empty-state message="There is no service area found">
  </tasklion-empty-state>
</ng-template>

<ng-template #loadingTemplate>
  <tasklion-loading-spinner></tasklion-loading-spinner>
</ng-template>

<ng-container *ngIf="taskerServiceAreas.length > 0">
  <tasklion-confirmation-modal #deleteModal
                               [isLoading]="isDeleting"
                               (confirm)="onDeleteConfirmed($event)"
                               (cancel)="cancelDelete()">
  </tasklion-confirmation-modal>
  <tasklion-information-modal #infoModal></tasklion-information-modal>
</ng-container>
