<ng-container *ngIf="!isLoading else listLoadingTemplate">
  <section *ngIf="taskers && taskers.length > 0; else emptyState">
    <div class="relative overflow-x-auto">
      <table class="w-full my-3 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-sm text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Username
          </th>
          <th scope="col" class="px-6 py-3">
            Email
          </th>
          <th scope="col" class="px-6 py-3">
            Full Name
          </th>
          <th scope="col" class="px-6 py-3">
            Phone Number
          </th>
          <th scope="col" class="px-6 py-3">
            Date of Birth
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let tasker of taskers">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ tasker.tasklionAccount.username }}
            </th>
            <td class="px-6 py-4">
              {{ tasker.tasklionAccount.email }}
            </td>
            <td class="px-6 py-4">
              {{ tasker.personalDetail.fullName }}
            </td>
            <td class="px-6 py-4">
              {{ tasker.personalDetail.phoneNumber }}
            </td>
            <td class="px-6 py-4">
              {{ tasker.personalDetail.dateOfBirth | date:'dd-MM-yyyy' }}
            </td>
            <td class="px-6 py-4">
              {{ TasklionAccountStatusConstant.getDisplayName(tasker.tasklionAccount.status) }}
            </td>
            <td class="px-6 py-4">
              <ng-container *ngIf="tasker.tasklionAccount.status == TasklionAccountStatusConstant.BANNED">
                <a (click)="unbanUser(tasker.tasklionAccount.username)"
                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline ms-3">
                  Unban
                </a>
              </ng-container>
              <ng-container *ngIf="tasker.tasklionAccount.status == TasklionAccountStatusConstant.ACTIVE">
                <a (click)="banUser(tasker.tasklionAccount.username)"
                   class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">
                  Ban
                </a>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <tasklion-paginator [paginationModel]="taskersPagination"
                        (pageChange)="onPageChange($event)"></tasklion-paginator>
  </section>
</ng-container>

<ng-template #listLoadingTemplate>
  <tasklion-loading-spinner></tasklion-loading-spinner>
</ng-template>

<ng-template #emptyState>
  <tasklion-empty-state></tasklion-empty-state>
</ng-template>

<tasklion-confirmation-modal #banTaskerConfirmationModal
                             [isLoading]="isActionLoading"
                             (confirm)="onBanActionConfirmed($event)"
                             (cancel)="cancelAction()">
</tasklion-confirmation-modal>

<tasklion-confirmation-modal #unbanTaskerConfirmationModal
                             [isLoading]="isActionLoading"
                             (confirm)="onUnbanActionConfirmed($event)"
                             (cancel)="cancelAction()">
</tasklion-confirmation-modal>
<tasklion-information-modal #taskerInfoModal></tasklion-information-modal>
