<section class="max-w-2xl mx-auto">
  <hr class="h-px mb-4 bg-gray-200 border-0 dark:bg-gray-700">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li>
        <div class="flex items-center">
          <a [routerLink]="['/', RouteConstant.TASKLION_ACCOUNT]"
             class="text-sm font-medium text-gray-500 hover:text-blue-600">
            Account Detail
          </a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-sm font-medium text-gray-700 md:ms-2">Change Password</span>
        </div>
      </li>
    </ol>
  </nav>

  <div *ngIf="isChangePasswordFailed"
       class="p-4 mt-3  text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <span class="font-medium">{{ changePasswordFailedMessage | dashIfEmpty }}</span>
  </div>

  <div class="mt-3">
    <tasklion-alert [showIf]="isChangePasswordSuccess" message="Password changed successfully"></tasklion-alert>
  </div>

  <form class="space-y-4 md:space-y-6" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(formDirective)"
        #formDirective="ngForm">
    <div class="col-span-6 sm:col-span-3 mt-4">
      <label for="password" class="block text-sm font-medium text-gray-700">Old Password</label>
      <input type="password" id="password" name="password" formControlName="password"
             class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
      <tasklion-error-field [control]="changePasswordForm.controls['password']"
                            [errorMessages]="validationMessages['password']"></tasklion-error-field>
    </div>
    <div class="col-span-6 sm:col-span-3 mt-4">
      <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
      <input type="password" id="newPassword" name="newPassword" formControlName="newPassword"
             class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
      <tasklion-error-field [control]="changePasswordForm.controls['newPassword']"
                            [errorMessages]="validationMessages['newPassword']"></tasklion-error-field>
      <ul class=" text-gray-500 list-disc list-inside dark:text-gray-400 text-xs mt-3">
        <li>
          At least 8 characters
        </li>
        <li>
          At least contains a capital letter, small letter, number, and special character (!@#$%^&*.)
        </li>
      </ul>
    </div>
    <div class="col-span-6 sm:col-span-3 mt-4">
      <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
             class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
      <tasklion-error-field [control]="changePasswordForm.controls['confirmPassword']"
                            [errorMessages]="validationMessages['confirmPassword']"></tasklion-error-field>
    </div>
    <div>
      <tasklion-submit-button [isLoading]="isLoading" label="Change Password"></tasklion-submit-button>
    </div>
  </form>
</section>
