<ng-container *ngIf="paginationModel.totalResults > 0">
  <div class="flex items-center justify-between border-t border-gray-200 bg-white py-3">
    <div class="sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div class="mb-2">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ ((paginationModel.currentPage) * paginationModel.pageSize) + 1 }}</span>
          to
          <span
            class="font-medium">{{ Math.min(paginationModel.pageSize * (paginationModel.currentPage + 1), paginationModel.totalResults) }}</span>
          of
          <span class="font-medium">{{ paginationModel.totalResults }}</span>
          result
        </p>
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <button (click)="onPageChange(activePage - 1)" [disabled]="activePage == 0"
                  class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                    clip-rule="evenodd"/>
            </svg>
          </button>
          <ng-container *ngIf="shouldShowEllipsisBefore()">
            <button (click)="onPageChange(0)"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
              1
            </button>
            <span
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
          </ng-container>
          <ng-container *ngFor="let page of getDisplayedPages()">
            <button (click)="onPageChange(page)"
                    [ngClass]="activePage == page ? 'bg-blue-700 text-white' : 'hover:bg-gray-100'"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
              {{ page + 1 }}
            </button>
          </ng-container>
          <ng-container *ngIf="shouldShowEllipsisAfter()">
            <span
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
            <button (click)="onPageChange(paginationModel.totalPages - 1)"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
              {{ paginationModel.totalPages }}
            </button>
          </ng-container>
          <button (click)="onPageChange(activePage + 1)" [disabled]="activePage == paginationModel.totalPages - 1"
                  class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">Next</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"/>
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</ng-container>
