<tasklion-home-header></tasklion-home-header>
<main class="main-content container px-6 py-16 mx-auto">
  <div class="items-center lg:flex">
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">Book trusted help for <br>
          <span class="text-blue-500 ">your task </span></h1>
        <p class="mt-3 text-gray-600 dark:text-gray-400">Struggling to keep up with your to-do list? Let's connect you
          with trusted helpers to tackle your tasks, big or small. Whether it's errands, or special projects, reliable
          taskers is here to lend a hand.</p>
        <a href="/register" class="inline-block mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          Get Started
        </a>
      </div>
    </div>
    <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
      <img class="w-full h-full lg:max-w-3xl" src="https://merakiui.com/images/components/Catalogue-pana.svg"
           alt="Catalogue-pana.svg">
    </div>
  </div>
</main>
<tasklion-home-footer></tasklion-home-footer>
