<div class="border-b w-full border-gray-200 dark:border-neutral-700">
  <nav class="flex space-x-1" aria-label="Tabs" role="tablist">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
      <li class="me-2" *ngFor="let role of tasklionUserRole">
        <button class="p-4 rounded-t-lg" (click)="onTabChange(role)"
                [ngClass]="activeTab === role ? 'text-blue-600 bg-gray-100' : 'hover:text-gray-600 hover:bg-gray-50'">
          {{ TasklionUserRoleConstant.getDisplayName(role) }}
        </button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
