<form class=" grid grid-cols-6 gap-6" [formGroup]="customerForm">

  <div class="col-span-6">
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    <h6 class="text-lg font-bold dark:text-white">Personal Information</h6>
  </div>

  <div class="col-span-6">
    <label for="fullName" class="block text-sm font-medium text-gray-700">Full Name</label>
    <input type="text" id="fullName" name="fullName" formControlName="fullName"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['fullName']"
                          [errorMessages]="validationMessages['fullName']"></tasklion-error-field>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Phone Number</label>
    <div class="relative mb-3">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none text-sm">
        +60
      </div>
      <input type="text" id="phoneNumber" placeholder="123456789" formControlName="phoneNumber"
             class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm block pe-10 ps-10 ">
    </div>
    <tasklion-error-field [control]="customerForm.controls['phoneNumber']"
                          [errorMessages]="validationMessages['phoneNumber']"></tasklion-error-field>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date of Birth</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['dateOfBirth']"
                          [errorMessages]="validationMessages['dateOfBirth']"></tasklion-error-field>
  </div>

  <div class="col-span-6">
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    <h6 class="text-lg font-bold dark:text-white">Address</h6>
  </div>

  <div class="col-span-6">
    <label for="addressLine" class="block text-sm font-medium text-gray-700">Address Line</label>
    <input type="text" id="addressLine" name="addressLine" formControlName="addressLine"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['addressLine']"
                          [errorMessages]="validationMessages['addressLine']"></tasklion-error-field>
  </div>

  <div class="col-span-6 sm:col-span-2">
    <label for="state" class="block text-sm font-medium text-gray-900">State</label>
    <select name="state" id="state" formControlName="state" (change)="onCityChange($event)"
            class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm">
      <option [value]="''" disabled selected>Choose a state</option>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
    <tasklion-error-field [control]="customerForm.controls['state']"
                          [errorMessages]="validationMessages['state']"></tasklion-error-field>
  </div>

  <div class="col-span-6 sm:col-span-2">
    <label for="city" class="block text-sm font-medium text-gray-900">City</label>
    <select name="city" id="city" formControlName="city"
            class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm">
      <option [value]="''" disabled selected>Choose a city</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
    <tasklion-error-field [control]="customerForm.controls['city']"
                          [errorMessages]="validationMessages['city']"></tasklion-error-field>
  </div>

  <div class="col-span-6 sm:col-span-2">
    <label for="postcode" class="block text-sm font-medium text-gray-700">Postcode</label>
    <input type="text" id="postcode" name="postcode" formControlName="postcode" maxlength="5"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['postcode']"
                          [errorMessages]="validationMessages['postcode']"></tasklion-error-field>
  </div>

  <div class="col-span-6">
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    <h6 class="text-lg font-bold dark:text-white">Account Information</h6>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
    <input type="text" id="username" name="username" formControlName="username"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['username']"
                          [errorMessages]="validationMessages['username']"></tasklion-error-field>
    <ul class=" text-gray-500 list-disc list-inside dark:text-gray-400 text-xs mt-3">
      <li>
        At least 6 characters (and up to 30 characters)
      </li>
      <li>
        Only contains letters, numbers, and underscores
      </li>
    </ul>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    <input type="email" id="email" name="email" formControlName="email"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['email']"
                          [errorMessages]="validationMessages['email']"></tasklion-error-field>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
    <input type="password" id="password" name="password" formControlName="password"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['password']"
                          [errorMessages]="validationMessages['password']"></tasklion-error-field>
    <ul class=" text-gray-500 list-disc list-inside dark:text-gray-400 text-xs mt-3">
      <li>
        At least 8 characters
      </li>
      <li>
        At least contains a capital letter, small letter, number, and special character (!@#$%^&*.)
      </li>
    </ul>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Password Confirmation</label>
    <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
           class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"/>
    <tasklion-error-field [control]="customerForm.controls['confirmPassword']"
                          [errorMessages]="validationMessages['confirmPassword']"></tasklion-error-field>
  </div>


</form>
